<div class="footer">
    <div class="discord">
        <div class="title">
            <%=language.footer.joinOurDiscord%>
        </div>
        <div class="subtitle">
            <%=language.footer.help%><br/>
                <%=language.footer.helpCategories%>
        </div>
        <div class="links">
            <a href="https://discord.gg/VyxXGUHz3v" target="_blank" class="link link-green">
                    Shapez.io
                </a>
            <a href="https://discord.gg/J5zJN99zqJ" target="_blank" class="link">

                <%=language.footer.moddingServer%>
            </a>
        </div>
    </div>
    <div class="text">©
        <%= new Date().getFullYear(); %> ModLoader Team
            <img src="/static/images/discord-logo.svg">
    </div>
</div>
</div>
</body>

</html>