<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/stackoverflow-dark.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
<%- include('../partials/header.ejs') %>
    <div class="mods">
        <div class="wrapper">
            <div class="mod">
                <div class="modname">
                    <div class="avatar">
                        <img src="<%=mod.photos[0]%>" />
                        <div class="title">
                            <%=mod.name %>
                                <%if(mod.verified){%>
                                    <span class="verified"></span>
                                    <%}%>
                        </div>
                        <div class="authors">
                            <%=language.mods.mobBy%>
                                <% for(let j=0; j < mod.authors.length; j++){ %>
                                    <% let author = mod.authors[j]; %>
                                        <a onclick="window.location.href = `/user/<%= author.id %>`" class="author">
                                            <% let str = author.username + (mod.authors.length-2 ===j ? " & ": mod.authors.length-1 === j ? "":", "); %>
                                                <%str.trim();%>
                                                    <%= str %>
                                        </a>
                                        <% } %>
                        </div>
                        <div class="get">
                            <a download="<%=mod.name%>-<%=mod.currentVersion%>.js" href="/static/<%=mod.modid ? `mods`:`modpacks`%>/<%= mod.modid?mod.modid:mod.modpackid%>/<%=mod.currentVersion%>.js" class="download link">Download</a>
                            <a onclick="copyTextToClipboard('<%= mod.modid?mod.modid:mod.modpackid%>'); this.classList.add('active'); setTimeout(()=>{this.classList.remove('active');}, 500)" class="copy link">Copy id</a>
                        </div>
                        <script src="/static/js/copy.js"></script>
                    </div>
                </div>

                <div class="description">
                    <%- mod.page %>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>