<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/stackoverflow-dark.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
<%- include('../partials/header.ejs') %>
    <div class="modpacks">
        <div class="wrapper">
            <div class="modpack">
                <div class="modpackname">
                    <div class="avatar">
                        <img src="<%=modpack.photos[0]%>" />
                        <div class="title">
                            <%=modpack.name %>
                        </div>
                        <div class="authors">
                            <%=language.mods.mobBy%>
                                <% for(let j=0; j < mod.authors.length; j++){ %>
                                    <% let author = mod.authors[j]; %>
                                        <div onclick="window.location.href = `/user/<%= author.id %>`" class="author">
                                            <% let str = author.username + (mod.authors.length-2 ===j ? " & ": mod.authors.length-1 === j ? "":", "); %>
                                                <%str.trim();%>
                                                    <%= str %>
                                        </div>
                                        <% } %>
                        </div>
                    </div>
                </div>

                <div class="description">
                    <%- modpack.page %>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>