<%- include('../partials/header.ejs') %>
    <div class="wrapper mods">
        <!-- <div class="logo">
            <img src="/static/images/logo.svg" />
            <label class="label">Mods</label>
        </div> -->
        <div class="header-title">
            <%=language.mods.modOTW%>
        </div>
        <div class="card mod-of-the-week">
            <a href="/mod/<%= modOTW.id %>" class="title">SMB Modpack</a>
            <div class="authors">
                <%=language.mods.mobBy%>
                    <% for(let i=0; i < modOTW.authors.length; i++){ %>
                        <% let author = modOTW.authors[i] %>
                            <a href="/user/<%= author.id %>" class="author">
                                <% let str = author.username + (modOTW.authors.length-2 === i ? " & ": modOTW.authors.length-1 === i ? "":", "); %>
                                    <%str.trim();%>
                                        <%= str %>
                            </a>
                            <% } %>
            </div>
            <a href="/mod/<%= modOTW.id %>" class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</a>
            <a href="/mod/<%= modOTW.id %>" class="images">
                <% for(let i=0; i < modOTW.images.length; i++){ %>
                    <% let image = modOTW.images[i] %>
                        <div class="image">
                            <img src="<%= image %>" />
                        </div>
                        <% } %>
            </a>
        </div>
        <div class="browse">
            <div class="sidebar">
                <div class="sidebar-bar">
                    <div class="title">
                        <%=language.mods.search%>
                    </div>
                    <div class="search">
                        <input type="text" id="mod-search" placeholder="<%=language.mods.search%>" />
                    </div>
                    <div class="verified search-option">
                        <div class="title">
                            <%=language.mods.searchOptions.verified.title%>
                        </div>
                        <label class="switch">
						<input type="checkbox" checked />
						<span class="slider round"></span>
					</label>
                    </div>
                    <div class="types search-option">
                        <div class="title">
                            <%=language.mods.searchOptions.type.title%>
                        </div>
                        <label class="type"> <input type="checkbox" checked /><%=language.mods.searchOptions.type.mod%></label>
                        <label class="type"> <input type="checkbox" checked /><%=language.mods.searchOptions.type.modpack%></label>
                    </div>
                    <div class="categories search-option">
                        <div class="title">
                            <%=language.mods.searchOptions.categories.title%>
                        </div>
                        <label class="category"> <input type="checkbox" checked /><%=language.mods.searchOptions.categories.categorie1%></label>
                        <label class="category"> <input type="checkbox" checked /><%=language.mods.searchOptions.categories.categorie2%></label>
                        <label class="category"> <input type="checkbox" checked /><%=language.mods.searchOptions.categories.categorie3%></label>
                        <label class="category"> <input type="checkbox" checked /><%=language.mods.searchOptions.categories.categorie4%></label>
                        <label class="category"> <input type="checkbox" checked /><%=language.mods.searchOptions.categories.categorie5%></label>
                        <label class="category"> <input type="checkbox" checked /><%=language.mods.searchOptions.categories.categorie6%></label>
                    </div>
                </div>
            </div>
            <div class="content">
                <a href="/mod" class="card">
                    <div class="title">ColorZ <span class="verified"></span></div>
                    <div class="authors">By Shrimp & DJ1TJOO</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </a>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
                <div class="card">
                    <div class="title">ColorZ</div>
                    <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
                    <div class="image">
                        <img src="/static/images/mod_test/cube.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>