<%- include('../partials/header.ejs') %>
    <div class="wrapper mods">
        <!-- <div class="logo">
            <img src="/static/images/logo.svg" />
            <label class="label">Mods</label>
        </div> -->
        <div class="header-title">
            <%=language.mods.modOTW%>
        </div>
        <%if(modOTW){%>
            <div class="card mod-of-the-week">
                <a href="/<%= modOTW.type %>/<%= modOTW.id %>" class="title">
                    <%= modOTW.name%>
                        <%if(modOTW.verified){%><span class="verified"></span>
                            <%}%>
                </a>
                <div class="authors">
                    <%=language.mods.mobBy%>
                        <% for(let i=0; i < modOTW.authors.length; i++){ %>
                            <% let author = modOTW.authors[i] %>
                                <a href="/user/<%= author.id %>" class="author">
                                    <% let str = author.username + (modOTW.authors.length-2 === i ? " & ": modOTW.authors.length-1 === i ? "":", "); %>
                                        <%str.trim();%>
                                            <%= str %>
                                </a>
                                <% } %>
                </div>
                <a href="/<%= modOTW.type %>/<%= modOTW.id %>" class="subtitle">
                    <%= modOTW.description%>
                </a>
                <a href="/<%= modOTW.type %>/<%= modOTW.id %>" class="images">
                    <% for(let i=0; i < modOTW.images.length; i++){ %>
                        <% let image = modOTW.images[i] %>
                            <div class="image">
                                <img src="<%= image %>" />
                            </div>
                            <% } %>
                </a>
            </div>
            <% } %>
                <%- include('../partials/browse.ejs') %>
    </div>
    <%- include('../partials/footer.ejs') %>