<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/stackoverflow-dark.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>
<%- include('../partials/header.ejs') %>
<div class="mods">
	<div class="wrapper">
		<div class="mod">
			<div class="modname">
				<div class="avatar">
					<img src="<%=mod.photos[0]%>" />
					<div class="title">
						<%=mod.name %> <%if(mod.verified){%>
						<span class="verified"></span>
						<%}%>
					</div>
					<div class="authors">
						<%=language.mods.mobBy%> <% for(let j=0; j < mod.authors.length; j++){ %> <% let author = mod.authors[j]; %>
						<a onclick="window.location.href = `/user/<%= author.id %>`" class="author">
							<% let str = author.username + (mod.authors.length-2 ===j ? " & ": mod.authors.length-1 === j ? "":", "); %> <%str.trim();%> <%= str %>
						</a>
						<% } %>
					</div>
					<div class="get">
						<a
							onclick="
                                  let xhr = new XMLHttpRequest();
                                     xhr.withCredentials = true;
                                     xhr.open(`PATCH`, `/api/v1/database/mods/<%=mod._id%>`, true);
                                        xhr.setRequestHeader(`Content-Type`, `application/json`);
                                        xhr.send(JSON.stringify({downloads: new Date()}));
                                           "
							download="<%=mod.name%>-<%=mod.currentVersion%>.js"
							href="/static/mods/<%= mod.modid%>/<%=mod.currentVersion%>.js"
							class="download link"
						>
							<%=language.mods.download%>
						</a>
						<a
							onclick="copyTextToClipboard('<%= mod.modid%>'); this.classList.add('active'); setTimeout(()=>{this.classList.remove('active');}, 500)
                                                  <% if(user && mod.modid){ %>
                                                  const instances = JSON.parse(`<%=JSON.stringify(user.instances)%>`);
                                               let dialog = new SelectDialog('<%=language.mods.chooseInstance%>', '', '<%=language.mods.ok%>', '<%=language.mods.cancel%>', '<%=language.mods.chooseOneInstance%>', instances.map(instance => JSON.stringify(instance).replace(regexDoubleQuote, `'`)), (option) => JSON.parse(option.replace(regexQuote, doubleQuote).replace(regexEsQuote, doubleQuote)).name, (instances, option) => {
                                                instances = JSON.parse(instances.replace(regexQuote, doubleQuote).replace(regexEsQuote, doubleQuote)).instances;
                                                option = JSON.parse(option.replace(regexQuote, doubleQuote).replace(regexEsQuote, doubleQuote));
                                                   let instance = instances.find(instance=> instance.name === option.name);
                                                   let xhr = new XMLHttpRequest();
                                                      xhr.withCredentials = true;
                                                      xhr.open(`GET`, `/api/v1/database/mods/<%=mod.modid%>`, true);
                                                   xhr.setRequestHeader(`Content-Type`, `application/json`);
                                                xhr.onreadystatechange = async (e) => {
                                                    if (e.target.readyState === XMLHttpRequest.DONE) {
                                                           if (e.target.status !== 200) return;
                                                           let mod = JSON.parse(e.target.response);
                                                              if(instance.mods.find(instanceMod => instanceMod.id === mod.modid)) return;
                            
                                                        mod.versions.sort(function (a, b) {
                                                            return new Date(b.date) - new Date(a.date);
                                                           });
                                                           let modVersion = mod.versions.find((version) => version.gameversion === instance.gameversion).id;
                                                              let data = {};
                                                           data.$push = {};
                                                        data.$push[`instances.${instance.index}.mods`] = {
                                                         url: `/static/mods/<%=mod.modid%>/${modVersion}.js`,
                                                      id: '<%=mod.modid%>',
                                                      version: modVersion,
                                                         config: {},
                                                         settings: {},
                                                        };
                            
                                                           let patch = new XMLHttpRequest();
                                                        patch.withCredentials = true;
                                                        patch.open(`PATCH`, `/api/v1/database/users`, true);
                                                           patch.setRequestHeader(`Content-Type`, `application/json`);
                                                           patch.onreadystatechange = async (e) => {
                                                            if (e.target.readyState === XMLHttpRequest.DONE) {
                                                                if (e.target.status !== 200) return;
                                                               }
                                                        };
                                                     patch.send(JSON.stringify(data));
                                              }
                                          };
                                             xhr.send(JSON.stringify({ modid:'<%=mod.modid%>' }));
                                         });
                                            dialog.show(this.parentElement);
                                                <%}%>
                                               let xhr = new XMLHttpRequest();
                                               xhr.withCredentials = true;
                                               xhr.open(`PATCH`, `/api/v1/database/mods/<%= mod.modid%>`, true);
                                                  xhr.setRequestHeader(`Content-Type`, `application/json`);
                                              xhr.send(JSON.stringify({downloads: new Date()}));"
							class="copy link"
						>
							<%=user && mod.modid ? `${language.mods.addToInstance}` : `${language.mods.copyId}` %>
						</a>
					</div>
					<script src="/static/js/dialog.js"></script>
					<script src="/static/js/copy.js"></script>
				</div>
			</div>

			<div class="description"><%- mod.page %></div>
		</div>
	</div>
</div>
<%- include('../partials/footer.ejs') %>
