<div class="browse">
    <div class="sidebar">
        <div class="sidebar-bar">
            <div class="title">
                <%=language.mods.search%>
            </div>
            <div class="search">
                <input type="text" id="mod-search" placeholder="<%=language.mods.search%>" />
            </div>
            <div class="verified search-option">
                <div class="title">
                    <%=language.mods.searchOptions.verified.title%>
                </div>
                <label class="switch">
        <input type="checkbox" checked id="mod-verified" />
        <span class="slider round"></span>
    </label>
            </div>
            <div class="types search-option">
                <div class="title">
                    <%=language.mods.searchOptions.type.title%>
                </div>
                <label class="type"> <input id="mod-type-mod" type="checkbox" checked /><%=language.mods.searchOptions.type.mod%></label>
                <label class="type"> <input id="mod-type-modpack" type="checkbox" checked /><%=language.mods.searchOptions.type.modpack%></label>
            </div>
            <!-- <div class="categories search-option">
        <div class="title">
            <%=language.mods.searchOptions.categories.title%>
        </div>
        <label class="category"> <input type="checkbox" checked /><%=language.mods.searchOptions.categories.categorie1%></label>
        <label class="category"> <input type="checkbox" checked /><%=language.mods.searchOptions.categories.categorie2%></label>
        <label class="category"> <input type="checkbox" checked /><%=language.mods.searchOptions.categories.categorie3%></label>
        <label class="category"> <input type="checkbox" checked /><%=language.mods.searchOptions.categories.categorie4%></label>
        <label class="category"> <input type="checkbox" checked /><%=language.mods.searchOptions.categories.categorie5%></label>
        <label class="category"> <input type="checkbox" checked /><%=language.mods.searchOptions.categories.categorie6%></label>
    </div> -->
        </div>
    </div>
    <div class="content">
        <% for (let i = 0; i < combined.length; i++) { const mod = combined[i];%>
            <a href="/<%=mod.modid ? `mod`:`modpack`%>/<%= mod.modid?mod.modid:mod.modpackid%>" data-mod-type="<%=mod.modid ? `mod`:`modpack`%>" <%=mod.verified ? "data-mod-verified": ""%> class="card">
                <div class="title">
                    <%=mod.name%>
                        <%if(mod.verified){%>
                            <span class="verified"></span>
                            <%}%>
                </div>
                <div class="authors">
                    <%=language.mods.mobBy%>
                        <% for(let j=0; j < mod.authors.length; j++){ %>
                            <% let author = mod.authors[j]; %>
                                <div onclick="window.location.href = `/user/<%= author.id %>`" class="author">
                                    <% let str = author.username + (mod.authors.length-2 ===j ? " & ": mod.authors.length-1 === j ? "":", "); %>
                                        <%str.trim();%>
                                            <%= str %>
                                </div>
                                <% } %>
                </div>
                <div class="subtitle">
                    <%= mod.description%>
                </div>
                <div class="image">
                    <img src="<%= mod.photos[0]%>" />
                </div>
            </a>
            <% } %>
    </div>
    <script src="/static/js/search.js"></script>
</div>